@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400|Playfair+Display:400,400i');

@import "../node_modules/reset-css/reset.scss";
@import "includes/vars";
@import "includes/components/buttons";
@import "includes/components/top";


*,
*:before,
*:after {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    line-height: 1.6;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 15px;
    background-color:$mainColor;
    color: #fff;
}

// Main classes
.container {

    padding: 0 $gutterWidth;
    width: 100%;
    max-width: $maxWidth;
    margin: 0 auto;

    &--small {

        max-width: 600px;
    }
}

h1 {

    font-family: 'Playfair Display', serif;
    display: inline-block;
    font-size: 45px;
    line-height: 1.2;
    letter-spacing: 0;
    color: #333;
    border-bottom: 3px solid #333;

    & + * {

        margin-top: 30px;
    }
}

h2 {

    color: #333;
    border-bottom: 3px solid #333;
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    line-height: 1.2;
    letter-spacing: 0;
    // letter-spacing: 2px;
    // border-bottom: 1px solid #fff;

    & + * {

        margin-top: 30px;
    }

    // &:after {

    //     display: block;
    //     content: '';
    //     transform: translateY(-3px);
    //     border-bottom: 3px solid #fff;
    // }
}

p {

    & + * {

        margin-top: 25px;
    }
}

em {

    font-style: italic;
}

.section__header {

    font-family: 'Playfair Display', serif;
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    height: 750px;
    text-align: center;
    position: relative;

    &:before {

        display: block;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(#000, .6);
        z-index: 1;
    }

    .container {

        max-width: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 9;

    }
}

.nav__main {

    margin-top: 15px;

    li {

        display: inline-block;
        padding: 0 6px;
    }

    a {

        padding: 3px 6px;
        font-size: 14px;
        text-decoration: none;
        color: #fff;
    }
}

.reachability {

    margin-bottom: 15px;
    display: flex;
    font-size: 15px;
    font-style: italic;
    justify-content: space-between;
    align-items: flex-end;

    &__hours {

        text-align: left;
    }

    &__contact {

        text-align: right;
    }
}

.section__intro {

    text-align: center;
    color: #000;
    background-color: #fff;
    padding: 120px 60px 60px;
    position: relative;

    &:before {

        position: absolute;
        z-index: 9;
        content: '';
        background: #bc8d4b;
        top: 0;
        width: 200px;
        height: 2px;
        left: 50%;
        transform: translateX(-50%) rotate(-45deg);
        transform-origin: 50% 50%;
    }

    &:after {

        position: absolute;
        z-index: 9;
        content: '';
        background: #bc8d4b;
        top: 0;
        width: 200px;
        height: 2px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        transform-origin: 50% 50%;
    }
}

.section__about {

    display: flex;
    text-align: right;

    & > * {

        padding: 50px 30px 60px;
        background-color: mix($mainColor, #000, 70%);
        width: 50%;

        &:first-child {

            text-align: left;
            background-color: $mainColor;

            .about__content {

                float: right;
                width: 100%;
            }
        }
    }

    .about__content {

        // padding: 40px $gutterWidth;
        max-width: $maxWidth / 2;
    }
}

.section__pics {

    column-count: 3;
    column-gap: 0;

    & > * {

        display: block;
        width: 100%;
    }
}

.section__menu {

    padding: 50px 60px 60px;
    text-align: center;
    color: #333;
    background-color: #fff;

    .menu {

        margin-top: 30px;

        &:before {

            display: block;
            content: '';
            background-image: url('../img/hr-12.png');
            background-repeat: repeat-x;
            background-position: center;
            height: 62px;
        }


        &__name {

            font-size: 35px;
            font-family: 'Playfair Display', serif;
        }

        &__intro {

            font-size: 13px;
            margin: 20px 0 40px;
        }

        &__content {

            ul {

                display: flex;
                flex-wrap: wrap;
                // margin: 0 -20px;
            }

            li {

                align-items: baseline;
                align-content: flex-start;
                font-weight: bolder;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 50%;
                padding: 0 20px;

                span:last-child {

                    font-weight: normal;
                    font-style: italic;
                    flex: 0 1 100%;
                    text-align: left;
                }
            }
        }
    }
}

.item {

    &__dots {

        margin: 0 3px;
        background: radial-gradient(#d5d5d5 40%, transparent 10%);
        background-size: 4px 4px;
        background-repeat: repeat-x;
        height: 3px;
        flex-grow: 1;
    }

    &__price {

        &:before {

            content: '€'
        }
    }
}