<section class="section__menu section__togo">
    <div class="container">
        <article>
            <h2 class="menu__name">
                Taberna a casa
            </h2>
            <section class="menu__intro">
                <div class="container container--small">
                Onderstaande gerechten kun je bestellen om hier thuis van te genieten.<br> 
                Geef je bestelling door en wij zorgen dat het klaar staat.
                </div>
            </section>
            <section class="menu__content">
                <ul>
                    <li>
                        <span class="item">Antipasti Salami</span>
                        <span class="item__dots"></span>
                        <span class="item__price">11,5 p.p. (vanaf 2 personen)</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Antipasti Vegetariano</span>
                        <span class="item__dots"></span>
                        <span class="item__price">11,5 p.p. (vanaf 2 personen)</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Antipasti Mixto</span>
                        <span class="item__dots"></span>
                        <span class="item__price">12,5 p.p. (vanaf 2 personen)</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Brood + 2 tapenades</span>
                        <span class="item__dots"></span>
                        <span class="item__price">3,5</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Iberico-ham kroketje, met saus</span>
                        <span class="item__dots"></span>
                        <span class="item__price">5,5 (5 stuks)</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Kabeljauwkroketje, met saus</span>
                        <span class="item__dots"></span>
                        <span class="item__price">5,5 (5 stuks)</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Pomodorisoep met spekjes en basilicummascarpone</span>
                        <span class="item__dots"></span>
                        <span class="item__price">4,- (0,25L)</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Knoflooksoep met champignons en paddenstoelen</span>
                        <span class="item__dots"></span>
                        <span class="item__price">4,- (0,25L)</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Kip in knoflookroomsaus</span>
                        <span class="item__dots"></span>
                        <span class="item__price">6,- (per 250 gram)</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Spareribs</span>
                        <span class="item__dots"></span>
                        <span class="item__price">6,- (per 250 gram)</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Scampi in knoflook/rode peper</span>
                        <span class="item__dots"></span>
                        <span class="item__price">6,5 (per 8 stuks)</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Glaasje Tiramisu</span>
                        <span class="item__dots"></span>
                        <span class="item__price">4,-</span>
                        <span class="item__description"></span>
                    </li>
                </ul>
            </section>
        </article>
    </div>
</section>