<section class="section__menu section__togo">
    <div class="container">
        <h2>Taberna To-go!</h2>

        <div class="intro">
            <img src="img/tabernatogo.JPG" alt="Taberna to go" />
            <span>
                <p>
                    <strong>We gaan tijdelijk over op Taberna To-go: haal de lekkerste Taberna gerechten gewoon in huis en help ons tevens door de Corona-crisis heen!</strong></p>
                <ul>
                    <li>Bestellingen kunnen worden afgehaald op vrijdag tussen 17:00u en 18:00u</li>
                    <li>Bezorging in overleg</li>
                    <li>Bestellingen uiterlijk op vrijdag 12:00u doorgeven per mail of Facebook</li>
                    <li>Andere vragen/mogelijkheden/dranken in overleg</li>
                    <li>Alle producten worden geleverd in (wegwerp)bakjes/schalen</li>
                    <li>Betaling bij afhalen enkel per pin of <u>gepast</u> contant</li>
                </ul>
            </span>
        </div>

        <article class="menu">
            <section class="menu__content">
                <ul>
                    <li>
                        <span class="item">Antipasti Mixto</span>
                        <span class="item__dots"></span>
                        <span class="item__price">10,- p.p. (vanaf 2 personen)</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Brood + 2 tapenades</span>
                        <span class="item__dots"></span>
                        <span class="item__price">3,5 per portie</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Pomodorisoep met spekjes en basilicum-mascarpone</span>
                        <span class="item__dots"></span>
                        <span class="item__price">6,- per liter</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Knoflooksoep met champignons en paddenstoel</span>
                        <span class="item__dots"></span>
                        <span class="item__price">6,- per liter</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Kip in knoflookroomsaus</span>
                        <span class="item__dots"></span>
                        <span class="item__price">5,- per 250 gram</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Gehaktballetjes in tomatensaus</span>
                        <span class="item__dots"></span>
                        <span class="item__price">5,- per 250 gram</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Scampi in knoflook/rode peper olie</span>
                        <span class="item__dots"></span>
                        <span class="item__price">6,- per 8 stuks</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Iberico-ham kroketje / Kabeljauwkroketje incl. sausje</span>
                        <span class="item__dots"></span>
                        <span class="item__price">4,- per 5 stuks</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Tiramisu</span>
                        <span class="item__dots"></span>
                        <span class="item__price">4,5 per portie</span>
                        <span class="item__description"></span>
                    </li>
                </ul>
            </section>
            <h3 class="menu__name">
                Cadeaubon: ieder gewenst bedrag
            </h3>
        </article>
    </div>
</section>