<section class="section__menu section__togo">
    <div class="container">
        <h2>Taberna To-go!</h2>

        <div class="intro">
            <img src="img/tabernatogo.JPG" alt="Taberna to go" />
            <span>
                <p>
                    <strong>We gaan tijdelijk over op Taberna To-go: haal de lekkerste Taberna gerechten gewoon in huis en help ons tevens door de Corona-crisis heen!</strong></p>
                <ul>
                    <li>Bestellingen kunnen worden afgehaald op vrijdag tussen 16:30u en 17:30u</li>
                    <li>Bezorging in overleg</li>
                    <li>Bestellingen uiterlijk donderdag 21:00u doorgeven per mail of Facebook</li>
                    <li>Andere vragen/mogelijkheden/dranken in overleg</li>
                    <li>Alle producten worden geleverd in (wegwerp)bakjes/schalen</li>
                    <li>Betaling bij afhalen enkel per pin of <u>gepast</u> contant</li>
                </ul>
            </span>
        </div>

        <article class="menu">
            <section class="menu__content">
                <ul>
                    <li>
                        <span class="item">Antipasti Mixto</span>
                        <span class="item__dots"></span>
                        <span class="item__price">10,- p.p. (vanaf 2 personen)</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Brood + 2 tapenades</span>
                        <span class="item__dots"></span>
                        <span class="item__price">3,5 per portie</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Pomodorisoep met spekjes en basilicum-mascarpone</span>
                        <span class="item__dots"></span>
                        <span class="item__price">6,- per liter</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Mediterraanse courgettesoep met garnaaltjes</span>
                        <span class="item__dots"></span>
                        <span class="item__price">6,- per liter</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Scampi in knoflook/rode peper</span>
                        <span class="item__dots"></span>
                        <span class="item__price">5,50 per 8 stuks</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Iberico-ham kroketje, incl. sausje</span>
                        <span class="item__dots"></span>
                        <span class="item__price">4,50 per 5 stuks</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Kabeljauwkroketje, incl. sausje</span>
                        <span class="item__dots"></span>
                        <span class="item__price">4,50 per 2 stuks</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Spiesjes van gemarineerde kippendij</span>
                        <span class="item__dots"></span>
                        <span class="item__price">5,- per 2 stuks</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Spiesjes van gekruide buikspek</span>
                        <span class="item__dots"></span>
                        <span class="item__price">5,- per 2 stuks</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Piri Piri gehaktballetjes, incl. sausje</span>
                        <span class="item__dots"></span>
                        <span class="item__price">4,50 per 8 stuks</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Glaasje Tiramisu</span>
                        <span class="item__dots"></span>
                        <span class="item__price">4,- per portie</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Cadeaubon</span>
                        <span class="item__dots"></span>
                        <span class="item__price">Ieder gewenst bedrag</span>
                        <span class="item__description"></span>
                    </li>
                </ul>
            </section>
        </article>

        <article class="menu">
            <h3 class="menu__name">
                Taberna's BBQ pakket
            </h3>
            <section class="menu__intro">
                <div class="container container--small">
                    <p>
                        €15,50 p.p. (vanaf 2 personen te bestellen).
                        <br>
                        <em>Tip! Bestel extra Taberna Torero Tafelbier, 0.75 liter €7,50</em>
                    </p>
                </div>
            </section>
            <section class="menu__content">
                <ul>
                    <li>
                        <span class="item">Spies van gemarineerde buikspek</span>
                        <span class="item__dots"></span>
                        <span class="item__price"></span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Spies van gemarineerde kippendij</span>
                        <span class="item__dots"></span>
                        <span class="item__price"><span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Chorizo BBQ worstje</span>
                        <span class="item__dots"></span>
                        <span class="item__price"><span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Spies met knoflookscampi</span>
                        <span class="item__dots"></span>
                        <span class="item__price"><span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Taberna's aardappelsalade</span>
                        <span class="item__dots"></span>
                        <span class="item__price"><span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Koude pastasalade</span>
                        <span class="item__dots"></span>
                        <span class="item__price"><span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Tomaat/komkommersalade</span>
                        <span class="item__dots"></span>
                        <span class="item__price"><span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Knoflookbrood (om te roosteren op de BBQ)</span>
                        <span class="item__dots"></span>
                        <span class="item__price"><span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Kruidenaioli</span>
                        <span class="item__dots"></span>
                        <span class="item__price"><span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Knoflook/Chilimayonaise</span>
                        <span class="item__dots"></span>
                        <span class="item__price"><span>
                        <span class="item__description"></span>
                    </li>
                 
                   
                </ul>
            </section>
        </artice>
    </div>
</section>