<section class="section__menu section__togo">
    <div class="container">
        <h2>Taberna To-go!</h2>

        <div class="intro">
            <img src="img/tabernatogo.JPG" alt="Taberna to go" />
            <span>
                <p>
                    <strong>Spelregels</strong><br><br>
                    Welkom ~ Bienvenidos ~ Benvenutto<br><br>
                    Om het voor alle gasten en het personeel zo leuk en
                    veilig mogelijk te maken hebben we enkele regels
                    opgesteld voor jouw bezoek aan Taberna
                </p>
                <ul>
                    <li>Wacht met plaatsnemen aan een tafel,
                    iemand van het personeel
                    wijst je een plekje toe</li>
                    <li>Er zullen bij ontvangst of reservering enkele
                    controlevragen
                    worden gesteld</li>
                    <li>Heb jij of één van je tafelgenoten klachten?
                    Kom dan graag een ander keertje!</li>
                    <li>Er mogen maximaal 2 mensen aan 1 tafel
                    zitten,
                    met uitzondering van een huishouden</li>
                    <li>Volg altijd aanwijzingen van het personeel op</li>
                    <li>Tafels en stoelen hebben een vaste plaats
                    om de 1,5 meter te kunnen waarborgen, hier
                    kan dus niet mee geschoven worden</li>
                    <li>Bij de ingang kun je je handen desinfecteren
                    en was bij de wc goed je handen</li>
                    <li>Om zoveel mogelijk gasten te laten genieten
                    van Taberna, vragen we jullie tijdig plaats te
                    maken voor een ander</li>
                </ul>
                <br>
                <strong>Eet smakelijk & geniet!</strong>
            </span>
        </div>

        <article class="menu">
            <h3 class="menu__name">
                Taberna To-Go!
            </h3>
            <section class="menu__intro">
                <div class="container container--small">
                <ul>
                    <li>- Andere vragen/opties in overleg</li>
                    <li>- Alle producten worden koud geleverd in
                        (wegwerp) bakjes en schalen</li>
                </ul>
                </div>
            </section>
            <section class="menu__content">
                <ul>
                    <li>
                        <span class="item">Antipasti Salami</span>
                        <span class="item__dots"></span>
                        <span class="item__price">11,5 p.p. (vanaf 2 personen)</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Antipasti Vegetariano</span>
                        <span class="item__dots"></span>
                        <span class="item__price">11,5 p.p. (vanaf 2 personen)</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Antipasti Mixto</span>
                        <span class="item__dots"></span>
                        <span class="item__price">12,5 p.p. (vanaf 2 personen)</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Brood + 2 tapenades</span>
                        <span class="item__dots"></span>
                        <span class="item__price">3,5</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Iberico-ham kroketje, met saus</span>
                        <span class="item__dots"></span>
                        <span class="item__price">5,5 (5 stuks)</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Kabeljauwkroketje, met saus</span>
                        <span class="item__dots"></span>
                        <span class="item__price">5,5 (5 stuks)</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Pomodorisoep met spekjes en basilicummascarpone</span>
                        <span class="item__dots"></span>
                        <span class="item__price">4,- (0,25L)</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Knoflooksoep met champignons en paddenstoelen</span>
                        <span class="item__dots"></span>
                        <span class="item__price">4,- (0,25L)</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Kip in knoflookroomsaus</span>
                        <span class="item__dots"></span>
                        <span class="item__price">6,- (per 250 gram)</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Spareribs</span>
                        <span class="item__dots"></span>
                        <span class="item__price">6,- (per 250 gram)</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Scampi in knoflook/rode peper</span>
                        <span class="item__dots"></span>
                        <span class="item__price">6,5 (per 8 stuks)</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Glaasje Tiramisu</span>
                        <span class="item__dots"></span>
                        <span class="item__price">4,-</span>
                        <span class="item__description"></span>
                    </li>
                </ul>
            </section>
        </article>

        <article class="menu">
            <h3 class="menu__name">
                Taberna's BBQ pakket
            </h3>
            <section class="menu__intro">
                <div class="container container--small">
                    <p>
                        €16,- p.p. (vanaf 2 personen te bestellen). Minimaal 1 dag van te voren bestellen. Andere vragen en opties in overleg.
                    </p>
                </div>
            </section>
            <section class="menu__content">
                <ul>
                    <li>
                        <span class="item">Mediterraans gemarineerde kippendijfilet</span>
                        <span class="item__dots"></span>
                        <span class="item__price"></span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Chorizoworstje</span>
                        <span class="item__dots"></span>
                        <span class="item__price"><span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Spies met knoflookscampi</span>
                        <span class="item__dots"></span>
                        <span class="item__price"><span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Spies met gemarineerde buikspek</span>
                        <span class="item__dots"></span>
                        <span class="item__price"><span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Taberna's aardappelsalade</span>
                        <span class="item__dots"></span>
                        <span class="item__price"><span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Koude pastasalade</span>
                        <span class="item__dots"></span>
                        <span class="item__price"><span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Tomaat/komkommersalade</span>
                        <span class="item__dots"></span>
                        <span class="item__price"><span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Knoflookbrood (om te roosteren op de BBQ)</span>
                        <span class="item__dots"></span>
                        <span class="item__price"><span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Kruidenaioli</span>
                        <span class="item__dots"></span>
                        <span class="item__price"><span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Knoflook/Chilimayonaise</span>
                        <span class="item__dots"></span>
                        <span class="item__price"><span>
                        <span class="item__description"></span>
                    </li>
                 
                   
                </ul>
            </section>
            <br><br>
            <p><em>Tip! Bestel extra Taberna Torero Tafelbier, 0.75 liter €8,5</em></p>
        </artice>
    </div>
</section>