<section class="section__events" id="agenda">
    <div class="container">
        <h2>Agenda</h2>
        <ul>
            <li data-month="december">
                <span class="date"><em>22</em>december</span>
                <span class="event">Late Night Shopping</span>
            </li>
            <li>
                <span class="date"><em>23</em>december</span>
                <span class="event">Extra koopzondag (Winters Weert)</span>
            </li>
            <li>
                <span class="date"><em>24, 25, 26</em>december</span>
                <span class="event">Gesloten.<br><strong>Bestelling voor thuis mogelijk!</strong></span>
            </li>
            <li>
                <span class="date"><em>30</em>december</span>
                <span class="event">Koopzondag (Winters Weert/Marktrecht voor elke Weertenaar) </span>
            </li>
            <li>
                <span class="date"><em>31</em>december</span>
                <span class="event">Gesloten. Bestelling voor thuis mogelijk</span>
            </li>
            <li data-month="januari">
                <span class="date"><em>1, 2</em>januari</span>
                <span class="event">Gesloten</span>
            </li>
            <li>
                <span class="date"><em>5</em>januari</span>
                <span class="event">Mediterraanse Happy New Year avond. 7 gangen menu 29,90. Reserveren verplicht.</span>
            </li>
            <li>
                <span class="date"><em>27</em>januari</span>
                <span class="event">Koopzondag</span>
            </li>
            <li data-month="februari">
                <span class="date"><em>2</em>februari</span>
                <span class="event">Pasta avond. 7 gangen 29,90. Reserveren verplicht.</span>
            </li>
            <li>
                <span class="date"><em>24</em>februari</span>
                <span class="event">Koopzondag</span>
            </li>
            <li data-month="maart">
                <span class="date"></span>
                <span class="event">Carnavalsperiode gesloten</span>
            </li>
            <li>
                <span class="date"><em>31</em>maart</span>
                <span class="event">Koopzondag</span>
            </li>
            <li data-month="april">
                <span class="date"><em>6</em>april</span>
                <span class="event">Mundo Verde avond. 7 gangen vegetarisch 29,90. Reserveren verplicht.</span>
            </li>
        </ul>
    </div>
</section>