<section class="section__events" id="agenda">
    <div class="container">
        <h2>Agenda</h2>
        <ul>
            <li data-month="februari">
                <span class="date">1 februari</span>
                <span class="event">Thema-avond "Mundo Verde"<br> 7 gangen vegetarisch menu à 29,90 <br><strong>alleen op reservering</strong></span>
            </li>
            <li>
                <span class="date">14 februari</span>
                <span class="event">Valentijnsavond, sharing dinner à 22,90 p.p.</span>
            </li>
            <li data-month="december">
                <span class="date">19 februari t/m 26 februari</span>
                <span class="event">gesloten i.v.m. vakantie</span>
            </li>
            <li data-month="maart">
                <span class="date">7 maart</span>
                <span class="event">Thema-avond "Pasta&Pizza", 7 gangen à 29,90<br><strong>alleen op reservering</strong></span>
            </li>
            <li>
                <span class="date">29 maart</span>
                <span class="event">Koopzondag</span>
            </li>
            <li data-month="april">
                <span class="date">4 april</span>
                <span class="event">Thema-avond "Vis a Vis", 7 gangen vis menu à 34,90<br><strong>alleen op reservering</strong></span>
            </li>
            <li>
                <span class="date">26 april</span>
                <span class="event">koopzondag</strong>
                </span>
            </li>
            <li>
                <span class="date">27 april</span>
                <span class="event">extra geopend i.v.m. Koningsdag</strong>
                </span>
            </li>
            <li data-month="mei">
                <span class="date">2 mei</span>
                <span class="event">Thema-avond "Planken&Dranken" 5 gangen op planken à 29,90, drank-arrangement apart bij te bestellen <br><strong>alleen op reservering</strong></span>
            </li>
        </ul>
    </div>
</section>