<section class="section__events" id="agenda">
    <div class="container">
        <h2>Agenda</h2>
        <p>De agenda wordt binnenkort weer bijgewerkt!</p>
        <ul>
            <li data-month="juli">
                <span class="date"><em>6</em>juli</span>
                <span class="event">Braderie</span>
            </li>
            <li>
                <span class="date"><em>7</em>juli</span>
                <span class="event">Extra avond geopend</span>
            </li>
            <li>
                <span class="date"><em>20</em>juli</span>
                <span class="event">Bouwvak, bier &amp; Burger (15,- Burger met frietjes en 2x Grolsch Pils)</span>
            </li>
            <li>
                <span class="date"><em>29</em>juli</span>
                <span class="event">Koopzondag "Sprinkussendag"</span>
            </li>
            <li data-month="augustus">
                <span class="date"><em>11</em>augustus</span>
                <span class="event">Extra avond geopend, Pincho's Avond</span>
            </li>
            <li data-month="september">
                <span class="date"><em>23</em>september</span>
                <span class="event">Koopzondag "Cultureel Lint"</span>
            </li>
        </ul>
    </div>
</section>