<div class="section__header">
    <button class="hamburger hamburger--spin" type="button" aria-label="menu" data-hamburger>
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
        <span class="hamburger-label">Menu</span>
    </button>
    <div class="container">
        <nav class="nav__main">
            <ul>
                <li><a href="#about">Over Taberna</a></li>
                <li><a href="#pictures">Sfeerimpressie</a></li>
                <li><a href="#agenda">Agenda</a></li>
                <li><a href="#menu">Menukaart</a></li>
                <li><a href="#reservation">Reserveer</a></li>
            </ul>
        </nav>
        <div class="logo">
            <img src="img/logo.svg" alt="Logo">
        </div>
        <section class="reachability">
            <div class="reachability__hours">
                <include src="partials/openinghours.html"></include>
            </div>
            <div class="reachability__contact">
                Taberna Weert<br>
                Beekstraat 60a<br>
                <a href="tel://0495586339">Tel: 0495 586 339</a><br>
                <a href="mailto:info@tabernaweert.nl">info@tabernaweert.nl</a><br>
                <a href="https://www.facebook.com/tabernaweert/">Taberna Facebook</a>
            </div>
        </section>
    </div>
</div>