<section class="section__menu" id="menu">
    <div class="container container--small">
        <h2>Menukaart</h2>
        <p>
            Verse en smaakvolle gerechten!<br>
            Geniet tijdens je bezoek van de beste hammen, worsten, kazen, belegde broodjes, salades, soepen en antipasti.<br>
            Onze kaart is gevarieerd, smaakvol en gemaakt met pure en verse ingrediënten. Je kunt terecht voor een uitgebreide lunch, een aangeklede borrel of een diner. Voor ieder wat wils!
        </p>
    </div>

    <div class="container">
        <article class="menu">
            <h3 class="menu__name">
                Antipasto
            </h3>
            <section class="menu__intro">
                <div class="container container--small">
                    <p>
                        Een antipasto (meervoud: antipasti) is een Italiaans aperitiefhapje dat traditioneel voor het avondmaal geserveerd wordt. Antipasti betekent letterlijk voor de maaltijd en duidt een vrij lichte schotel aan.
                    </p>
                    <p>
                        <em>"Eten is een moment van rust nemen, proeven, delen en genieten."</em><br>
                    </p>
                </div>
            </section>
            <section class="menu__content">
                <ul>
                    <li>
                        <span class="item">Plancha Pane</span>
                        <span class="item__dots"></span>
                        <span class="item__price">7,-</span>
                        <span class="item__description">Plankje met brood, grissini, dips en olijfjes</span>
                    </li>
                    <li>
                        <span class="item">Pane</span>
                        <span class="item__dots"></span>
                        <span class="item__price">4,5</span>
                        <span class="item__description">Broodmandje met twee dips</span>
                    </li>
                    <li>
                        <span class="item">Oliva</span>
                        <span class="item__dots"></span>
                        <span class="item__price">4,5</span>
                        <span class="item__description">Portie gemarineerde olijven (groen, zwart of gemengd)</span>
                    </li>
                    <li>
                        <span class="item">Croquetas Jamon Iberico</span>
                        <span class="item__dots"></span>
                        <span class="item__price">7,5</span>
                        <span class="item__description">Kroketjes met zachte vulling van het Iberico varken, met kruidenaioli</span>
                    </li>
                    <li>
                        <span class="item">Formaggio</span>
                        <span class="item__dots"></span>
                        <span class="item__price">10,5</span>
                        <span class="item__description">Plankje met diverse Mediterraanse kaasjes, Kroketjes met een vulling van kabeljauw, vijgenbalsamico en Manchego kaaskoekjes</span>
                    </li>
                    <li>
                        <span class="item">Croquetas Bacalao</span>
                        <span class="item__dots"></span>
                        <span class="item__price">7,5</span>
                        <span class="item__description">Kroketjes met een vulling van kabeljauw, met limoen aioli</span>
                    </li>
                    <li>
                        <span class="item">Scampi aglio e olio</span>
                        <span class="item__dots"></span>
                        <span class="item__price">10,5</span>
                        <span class="item__description">Mediterraanse scampi gebakken in olijfolie met knoflook en Spaanse peper</span>
                    </li>
                    <li>
                        <span class="item">Gamba frito</span>
                        <span class="item__dots"></span>
                        <span class="item__price">7,5</span>
                        <span class="item__description">Gefrituurde garnalen in een krokant jasje, met limoen-aioli</span>
                    </li>
                    <li>
                        <span class="item">Bruschetta Pomodori</span>
                        <span class="item__dots"></span>
                        <span class="item__price">9,-</span>
                        <span class="item__description">Italiaanse klassieker</span>
                    </li>
                    <li>
                        <span class="item">Bruschetta Trio</span>
                        <span class="item__dots"></span>
                        <span class="item__price">10,5</span>
                        <span class="item__description">Op diverse wijzen belegd</span>
                    </li>
                    <li>
                        <span class="item">Calamaris</span>
                        <span class="item__dots"></span>
                        <span class="item__price">7,5</span>
                        <span class="item__description">Gefrituurde inktvisringen met limoen-aioli</span>
                    </li>
                    <li>
                        <span class="item">Nacho</span>
                        <span class="item__dots"></span>
                        <span class="item__price">8,5</span>
                        <span class="item__description">Gekruide tortillachips met tomatensaus en      mozzarella uit de oven
                        <span class="bold">Extra lekker met kip en chili-aioli + 3,-</span>
                        </span>
                        <span class="bold">Extra lekker met gehakt en chili-aioli + 3,-</span>
                        </span>
                    </li>
                    <li>
                        <span class="item">Cebolla</span>
                        <span class="item__dots"></span>
                        <span class="item__price">7,5</span>
                        <span class="item__description">Gefrituurde uienringen met kruidenaioli</span>
                    </li>
                    
                    <li>
                        <span class="item">Chorizo Assado</span>
                        <span class="item__dots"></span>
                        <span class="item__price">10,5</span>
                        <span class="item__description">Op tafel geflambeerde chorizo!</span>
                    </li>
                    <li>
                        <span class="item">Pollo frito</span>
                        <span class="item__dots"></span>
                        <span class="item__price">7,5</span>
                        <span class="item__description">Gefrituurde kipstukjes met chili-aioli</span>
                    </li>
                    <li>
                        <span class="item">Fuet</span>
                        <span class="item__dots"></span>
                        <span class="item__price">5,-</span>
                        <span class="item__description">Catalaanse fuet worst</span>
                    </li>
                    <li>
                        <span class="item">Antipasti Salumi</span>
                        <span class="item__dots"></span>
                        <span class="item__price">12,9 pp</span>
                        <span class="item__description">Gevulde plank met diverse vleeswaren en olijfjes</span>
                    </li>
                    <li>
                        <span class="item">Antipasti Vegetariano</span>
                        <span class="item__dots"></span>
                        <span class="item__price">12,9 pp</span>
                        <span class="item__description">Gevulde plank met kaas, gegrilde groenten en olijfjes</span>
                    </li>
                    <li>
                        <span class="item">Antipasti Mixto</span>
                        <span class="item__dots"></span>
                        <span class="item__price">13,9 pp</span>
                        <span class="item__description">Gevulde plank met diverse vleeswaren, kaas, groenten en olijfjes</span>
                    </li>
                    <li>
                        <span class="item">Antipasti Taberna</span>
                        <span class="item__dots"></span>
                        <span class="item__price">16,9 pp</span>
                        <span class="item__description">Een rijkelijk gevulde plank met warme en koude antipasti én daarbij een huisgemaakt soepje</span>
                    </li>
                   
                </ul>
            </section>
        </artice>

        <article class="menu">
            <h3 class="menu__name">
                Zuppa
            </h3>
            <section class="menu__intro">
                <div class="container container--small">
                    <p>
                        In Spanje eet men twee keer per dag warm. Soep wordt dan ook veel genuttigd tijdens de lunch. Bij Taberna maken we soepen van de lekkerste verse producten.
                        <span class="bold">Extra lekker met een mandje brood! 4,5</span>
                    </p>
                </div>
            </section>
            <section class="menu__content">
                <ul>
                    <li>
                        <span class="item">Zuppa di Pomodoro</span>
                        <span class="item__dots"></span>
                        <span class="item__price">4,- (klein) /  6,-</span>
                        <span class="item__description">Gemaakt van pomodori tomaten, met spekjes en basilicum-mascarpone</span>
                    </li>
                    <li>
                        <span class="item">Sopa de Batata</span>
                        <span class="item__dots"></span>
                        <span class="item__price">4,- (klein) /  6,-</span>
                        <span class="item__description">Zachte soep van zoete aardappel, gemarineerde garnaaltjes en basilicum-mascarpone</span>
                    </li>
                    <li>
                        <span class="item">Zuppa & Sopa</span>
                        <span class="item__dots"></span>
                        <span class="item__price">7,5</span>
                        <span class="item__description">Duo van soepjes met brood en 1 dip</span>
                    </li>
                </ul>
            </section>
        </article>

        <article class="menu">
            <h3 class="menu__name">
                Insalata
            </h3>
            <section class="menu__intro">
                <div class="container container--small">
                    <p>
                            De salades worden gemaakt met een gemengde salade, kruidenvinaigrette en huisgemaakte croutons.
                            De salades kunnen genuttigd worden als voorgerecht of volledige maaltijd.
                            <span class="bold">Extra lekker met een mandje brood! 4,-</span>
                    </p>
                </div>
            </section>
            <section class="menu__content">
                <ul>
                    <li>
                        <span class="item">Carpaccio</span>
                        <span class="item__dots"></span>
                        <span class="item__price">11,- / 14,8 (groot)</span>
                        <span class="item__description">Carpaccio van het rund met zongedroogde tomaatjes, truffelcrème, geroosterde amandelschaafsel en Parmezaanse kaas</span>
                    </li>
                    <li>
                        <span class="item">Queso frito</span>
                        <span class="item__dots"></span>
                        <span class="item__price">11,- / 14,8 (groot)</span>
                        <span class="item__description">Met gefrituurde geitenkaas, truffel balsamico, gebrande amandelen, crème van rode biet, balsamico-uitjes en gepofte cherrytomaatjes</span>
                    </li>
                    <li>
                        <span class="item">Cesare</span>
                        <span class="item__dots"></span>
                        <span class="item__price">11,- / 14,8 (groot)</span>
                        <span class="item__description">Met gekruide kippendijfilet, Parmezaanse kaas, gekookt ei en een romige knoflookdressing</span>
                    </li>
                    <li>
                        <span class="item">Pescado</span>
                        <span class="item__dots"></span>
                        <span class="item__price">11,- / 14,8 (groot)</span>
                        <span class="item__description">Met tonijnsalade, gemarineerde garnaaltjes, crème van rode bietjes, gepofte cherrytomaatjes en een limoen-aioli</span>
                    </li>
                   
                  
                    <li>
                        <span class="item">Mediterrane</span>
                        <span class="item__dots"></span>
                        <span class="item__price">11,- / 14,8 (groot)</span>
                        <span class="item__description">Met dungesneden Serranoham, vijgenbalsamico, Parmezaan, pistacchio nootjes en zongedroogde tomaatjes</span>
                    </li>
                </ul>
            </section>
        </article>

        <article class="menu">
            <h3 class="menu__name">
                Panino
            </h3>
            <section class="menu__intro">
                <div class="container container--small">
                    <p>
                        Panino is Italiaans voor ‘broodje’. Onze panino wordt gemaakt van rustiek brood, koud belegd. Bij Taberna krijg je dus <em><u>géén platgedrukt stokbroodje met grillstrepen</u></em>. Keuze uit Schiacchata wit of meergranen brood.
                        Schiacchata is een Italiaans ‘plat’ brood
                    </p>
                </div>
            </section>
            <section class="menu__content">
                <ul>
                    <li>
                        <span class="item">Tonno</span>
                        <span class="item__dots"></span>
                        <span class="item__price">9,9-</span>
                        <span class="item__description">Met tapenade van zongedroogde tomaat, belegd met gemengde sla en huisgemaakte tonijnsalade</span>
                    </li>
                    <li>
                        <span class="item">Jamon Serrano</span>
                        <span class="item__dots"></span>
                        <span class="item__price">9,9-</span>
                        <span class="item__description">Met tapenade van gedroogde tomaatjes, Serranoham, mesclun sla, basilicum-mascarpone en gekookt ei</span>
                    </li>
                    <li>
                        <span class="item">Queso</span>
                        <span class="item__dots"></span>
                        <span class="item__price">10,9-</span>
                        <span class="item__description">Met crème van rode biet, gefrituurde geitenkaas, gegrilde courgette, mesclun sla en gedroogde tomaatjes</span>
                    </li>
                    <li>
                        <span class="item">Carpaccio</span>
                        <span class="item__dots"></span>
                        <span class="item__price">10,9-</span>
                        <span class="item__description">Met truffelcrème, carpaccio, gedroogde tomaatjes, mesclun sla, Parmezaanse kaas en amandelschaafsel</span>
                    </li>
                    <li>
                        <span class="item">Cesare</span>
                        <span class="item__dots"></span>
                        <span class="item__price">10,5</span>
                        <span class="item__description">Met chili-aioli, kipdijfilet, mesclun sla en Parmezaanse kaas</span>
                    </li>
                    <li>
                        <span class="item">Bruschetta con Funghi</span>
                        <span class="item__dots"></span>
                        <span class="item__price">10,5</span>
                        <span class="item__description">Toast met gebakken champignons, truffelcrème, mesclun sla en Parmezaanse kaas</span>
                    </li>        
                    <li>
                        <span class="item">Croquetas Jamon Iberico</span>
                        <span class="item__dots"></span>
                        <span class="item__price">10,5</span>
                        <span class="item__description">Gefrituurde kroketjes van het Iberico varken met kruidenaioli</span>
                    </li>        
                    <li>
                        <span class="item">Croquetas Bacalao</span>
                        <span class="item__dots"></span>
                        <span class="item__price">10,5</span>
                        <span class="item__description">Gefrituurde kroketjes van kabeljauw met limoen-aioli</span>
                    </li>        
                </ul>
            </section>
            <section class="menu__outro">
                <div class="container container--small">
                    <p>
                        <b>Lunchdeal!</b>
                        <br>
                        Voor 2,5 extra maak je je lunch compleet met
                        een kleine soep naar keuze!
                    </p>
                </div>
            </section>
        </article>

        <article class="menu">
            <h3 class="menu__name">
                Plancha Taberna
            </h3>
            <section class="menu__intro">
                <div class="container container--small">
                    <p>
                        Plancha is plank in het Spaans. Hier serveren wij onze variant van het ’12-uurtje’ op.
                        Keuze uit Schiacchata wit of meergranen brood.
                        Schiacchata is een Italiaans ‘plat’ brood
                    </p>
                </div>
            </section>
            <section class="menu__content">
                <ul>
                    <li>
                        <span class="item">Plancha Prosciutto</span>
                        <span class="item__dots"></span>
                        <span class="item__price">14,-</span>
                        <span class="item__description">Kleine soep naar keuze ~ half broodje met kruidenaioli en
                            ibericoham kroketjes ~ halve panino Carpaccio</span>
                    </li>
                    <li>
                        <span class="item">Plancha Pescado</span>
                        <span class="item__dots"></span>
                        <span class="item__price">14,-</span>
                        <span class="item__description">Kleine soep naar keuze ~ half broodje met limoen-aioli en
                            kabeljauw kroketjes ~ halve panino Tonno</span>
                    </li>
                    <li>
                        <span class="item">Plancha Verdura</span>
                        <span class="item__dots"></span>
                        <span class="item__price">14,-</span>
                        <span class="item__description">Kleine soep naar keuze ~ half broodje met tomaten tapenade en
                            gefrituurde geitenkaas ~ halve panino truffelmayo en gegrilde groenten</span>
                    </li>
                </ul>
            </section>
        </article>

        <article class="menu">
            <h3 class="menu__name">
                Pizza 2.0
            </h3>
            <section class="menu__intro">
                <div class="container container--small">
                    <p>
                        Onze pizza’s 2.0 worden nét anders gemaakt dan anders. Wij gebruiken hiervoor Bruschetta Ovale. Deze
                        worden net als de traditionele pizza’s belegd met tomatensaus, mozzarella en de lekkerste ingrediënten.
                    </p>
                </div>
            </section>
            <section class="menu__content">
                <ul>
                    <li>
                        <span class="item">Pizza Margharita</span>
                        <span class="item__dots"></span>
                        <span class="item__price">9,-</span>
                        <span class="item__description"></span>
                    </li>
                    <li>
                        <span class="item">Pizza Sevilla</span>
                        <span class="item__dots"></span>
                        <span class="item__price">10,5</span>
                        <span class="item__description">Belegd met champignons, zongedroogde tomaatjes, chorizo en rucola</span>
                    </li>
                    <li>
                        <span class="item">Pizza Verona</span>
                        <span class="item__dots"></span>
                        <span class="item__price">10,5</span>
                        <span class="item__description">Belegd met gegrilde groenten, cherrytomaatjes, olijfjes en Parmezaanse kaas</span>
                    </li>
                    <li>
                        <span class="item">Pizza Salame Sopressa</span>
                        <span class="item__dots"></span>
                        <span class="item__price">10,5</span>
                        <span class="item__description">Belegd met Italiaanse salami, cherrytomaatjes en basilicum-mascarpone</span>
                    </li>
                    <li>
                        <span class="item">Pizza Toscane</span>
                        <span class="item__dots"></span>
                        <span class="item__price">10,5</span>
                        <span class="item__description">Belegd met gemarineerde garnaaltjes, gegrilde courgette, limoen-aioli en rucola</span>
                    </li>
                </ul>
            </section>
        </article>

        <article class="menu">
            <h3 class="menu__name">
                Burgers
            </h3>
            <section class="menu__intro">
                <div class="container container--small">
                    <p>
                            Onze verse burgers met de lekkerste kruiden worden geserveerd op een burgerbroodje. De broodjes worden belegd
                            met sla, tomaat, komkommer, rode ui en verder uiteraard de lekkerste Spaanse of Italiaanse ingrediënten.
                            We serveren hier een licht pikante aardappelsalade bij.
                    </p>
                </div>
            </section>
            <section class="menu__content">
                <ul>
                    <li>
                        <span class="item">Burger España</span>
                        <span class="item__dots"></span>
                        <span class="item__price">14,-</span>
                        <span class="item__description">Gekruide burger met kruidenaioli en dungesneden Chorizo &amp; Serranoham</span>
                    </li>
                    <li>
                        <span class="item">Burger Italia</span>
                        <span class="item__dots"></span>
                        <span class="item__price">14,-</span>
                        <span class="item__description">Gekruide burger met truffelcrème, plakjes Coppa di Parma en Parmezaanse kaas</span>
                    </li>
                    <li>
                        <span class="item">Burger Tortilla</span>
                        <span class="item__dots"></span>
                        <span class="item__price">14,-</span>
                        <span class="item__description">Vegetarische burger met een tapenade van gedroogde tomaatjes, gegrilde groenten,
                        tortillachips en met mozzarella</span>
                    </li>
                    <li>
                        <span class="item">Burger Cipolla</span>
                        <span class="item__dots"></span>
                        <span class="item__price">14,-</span>
                        <span class="item__description">Gekruide burger met chili-knoflooksaus en gefrituurde uienringen</span>
                    </li>
                    <li>
                        <span class="item">Burger Mediteraans</span>
                        <span class="item__dots"></span>
                        <span class="item__price">14,-</span>
                        <span class="item__description">Gekruide burger met basilicum-pesto, rucola, Parmezaanse kaas en
                            gedroogde tomaatjes</span>
                    </li>
                </ul>
                <span class="item__description">Graag een portie frietjes erbij? <span class="item__price">4,-</span></span>
            </section>
        </article>

        <article class="menu">
            <h3 class="menu__name">
                Pasta
            </h3>
            <section class="menu__intro">
                <div class="container container--small">
                    <p>
                        Pasta (Italiaans voor deeg) eten ze in Italië als eerste gang, de zogenaamde <em>'primo'</em>.

Bij ons een grotere variant van verse Bigoli (dikkere spaghetti).
De pasta’s worden geserveerd met Parmezaanse kaas en rucola<br/><br/>
OP DONDERDAGAVOND ZIJN ALLE PASTA’S TE BESTELLEN VOOR MAAR 14,-

                    </p>
                </div>
            </section>
            <section class="menu__content">
                <ul>
                    <li>
                        <span class="item">Scampi, aglio e olio</span>
                        <span class="item__dots"></span>
                        <span class="item__price">16,-</span>
                        <span class="item__description">Pasta met gebakken scampi, knoflook, Spaanse peper, olijfolie en peterselie</span>
                    </li>
                    <li>
                        <span class="item">Tartufo e funghi</span>
                        <span class="item__dots"></span>
                        <span class="item__price">16,-</span>
                        <span class="item__description">Pasta met gebakken champignons en paddenstoelen in een romige saus van truffel</span>
                    </li>
                    <li>
                        <span class="item">Pesto con Jamón</span>
                        <span class="item__dots"></span>
                        <span class="item__price">16,-</span>
                        <span class="item__description">Pasta met dungesneden Serranoham, zongedroogde tomaatjes en een pesto roomsaus</span>
                    </li>
                </ul>
            </section>
        </article>

        <article class="menu">
            <h3 class="menu__name">
                Iets na?
            </h3>
            <section class="menu__intro">
                <div class="container container--small">
                    <p>
                        Het dessert na het hoofdgerecht kan worden genuttigd om meerdere redenen. Om een voldaan gevoel te

                        geven aan het einde van de maaltijd, maar natuurlijk vooral omdat het lekker is!
                    </p>
                </div>
            </section>
            <section class="menu__content">
                <ul>
                    <li>
                        <span class="item">Formaggio</span>
                        <span class="item__dots"></span>
                        <span class="item__price">10,5</span>
                        <span class="item__description">Plankje met diverse Mediterraanse kaasjes, vijgenbalsamico en vijgentoast</span>
                    </li>
                    <li>
                        <span class="item">Affogato (Italiaans voor ‘verdronken’)</span>
                        <span class="item__dots"></span>
                        <span class="item__price">6,-</span>
                        <span class="item__description">Vanille-ijs verdronken in warme espresso met slagroom en cantuccini</span>
                    </li>
                    <li>
                        <span class="item">Tiramisu</span>
                        <span class="item__dots"></span>
                        <span class="item__price">7,-</span>
                        <span class="item__description">Dé Italiaanse klassieker. De naam betekent letterlijk 'trek mij omhoog'. <br />Gemaakt met espresso, Amaretto, Savoiardi lange vingers en mascarpone</span>
                    </li>
                    <li>
                        <span class="item">Churro's</span>
                        <span class="item__dots"></span>
                        <span class="item__price">6,5</span>
                        <span class="item__description">Spaanse ‘donuts’ met karamelsaus en een bolletje vanille-ijs</span>
                    </li>
                    <li>
                        <span class="item">Grande Dolce</span>
                        <span class="item__dots"></span>
                        <span class="item__price">9,9</span>
                        <span class="item__description">Dessert met vanille-ijs, Tiramisu, Churro’s en Italiaanse koekjes</span>
                    </li>
                    <li>
                        <span class="item">Biscotti Italiano</span>
                        <span class="item__dots"></span>
                        <span class="item__price">6,-</span>
                        <span class="item__description">Mix van diverse Italiaanse koekjes, zoals cantuccini, amarettine, en Italiaanse Merengue</span>
                    </li>
                </ul>
            </section>
        </article>
    </div>
</section>