%button {

  padding: 5px 40px;
  display: inline-block;
  text-decoration: none;
  border: 2px solid #fff;
  color: #fff;
}

.button {

  @extend %button;

  &--dark {

      color: $mainColor;
  }
}