.popup {
  color: #000;
  padding-bottom: 40px;

  ul {
    padding-left: 16px;
    list-style: disc;
  }

  .container {
    padding: 0 24px;
    margin: 0 auto;
    max-width: 768px;

    & * + * {
      margin-top: 16px;
    }
  }


  img {
    max-width: 100%;
  }
}